@import '../../css/variables.less';
.list {
  overflow: hidden;
  position: relative;
}

.list-border {
  border-top: 1px solid @bgColor4;
  border-bottom: 1px solid @bgColor4;
}

.list-item {
  overflow: hidden;
  position: relative;
  align-items: center;
  height: 55px;
  background-color: @bgColor3;
}

.list-item-after::after {
  content: '';
  position: absolute;
  right: -100%;
  bottom: 0;
  left: 65px;
  height: 1px;
          transform:scale(0.5);
        transform-origin: 0 0;
  background-color: @bgColor4;
}

.list-item-icon {
  width: 55px;
  line-height: 1;
}

.show-item-border::after {
  content: '';
  position: absolute;
  right: -100%;
  bottom: 0;
  left: 55px;
  height: 1px;
            transform:scale(0.5);
        transform-origin: 0 0;
  background-color: @bgColor4;
}

.list-item-picture {
  width: 65px;
  padding: 0 10px 0 15px;
}

.list-item-picture-wrap {
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  background-color: @bgColor;
}

.list-item-text {
  padding: 0 15px 0 0;
}
.list-item-content {
  color: @color4;
}