@import "./variables.less";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
input {
  border: 0;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-size: 12px;
  color: @color;
  background-color: @bgColor;
}

img {
  max-width: 100%;
}

.dn {
  display: none;
}
.di {
  display: inline;
}
.dib {
  display: inline-block;
}
.db {
  display: block;
}
.df {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.tc {
  text-align: center;
}

#root {
  height: 100%;
}

.main-container-wrap {
  overflow: hidden;
  height: calc(100% - 50px);
}

.page-content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}


.font1 {
  font-size: @font1;
}
.font2 {
  font-size: @font2;
}
.font3 {
  font-size: @font3;
}

.color4 {
  color: @color4;
}

.ell {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
