@import '../../css/variables.less';

.main-footer {
  height: 50px;
  justify-content: space-between;
  background-color: @bgColor2;

  .main-footer-nav {
    justify-content: center;

    .iconfont {
      font-size: 20px;
    }
  }

  .main-footer-nav-active {
    color: @color2;
  }
}